aiofiles==23.2.1
annotated-types==0.6.0
black==23.11.0
cffi==1.16.0
colorama==0.4.6
cryptography==41.0.5
flake8==6.1.0
grpcio==1.59.2
grpcio-tools==1.59.2
ifaddr==0.2.0
isort==5.12.0
mccabe==0.7.0
mypy==1.6.1
mypy-extensions==1.0.0
mypy-protobuf==3.5.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
protobuf==4.25.0
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.4.2
pydantic_core==2.10.1
pyflakes==3.1.0
pynput==1.7.6
ruff==0.1.4
setuptools==68.2.2
six==1.16.0
types-aiofiles==23.2.0.0
types-protobuf==4.24.0.4
typing_extensions==4.8.0
zeroconf==0.120.0
asn1crypto==1.4.0
blinker==1.6.3
certifi==2023.7.22
charset-normalizer==3.3.1
click==8.1.7
Flask==3.0.0
gevent==23.9.1
greenlet==3.0.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.3
MarkupSafe==2.1.3
networkscan==1.0.9
paho-mqtt==1.6.1
pyOpenSSL==20.0.1
python-dateutil==2.8.2
python-nmap==0.7.1
python-xlib==0.33
requests==2.31.0
samsungctl==0.7.1
scapy==2.5.0
six==1.16.0
ssdp==1.3.0
upnpclient==1.0.3
urllib3==2.0.7
websocket==0.2.1
Werkzeug==3.0.0
zope.event==5.0
zope.interface==6.1
